<div class="flex flex-col cursor-pointer">
  <div class="relative">
    <img
      class="object-cover hover:opacity-50"
      [src]="url()"
      width="100%"
      height="234px"
      alt="card"
    />
    <div
      class="flex h-[32px] w-fit px-2 items-center absolute bottom-0 left-0 bg-primary-300 text-[15px] text-light"
    >
      {{ text() }}
    </div>
  </div>

  <div
    class="text-dark-500 text-[15px] font-light leading-[22px] tracking-[0.08px] line-clamp-2"
  >
    {{ desc() }}
  </div>

  <div class="flex gap-2">
    @for (tag of hashtag(); track $index) {
    <p class="text-primary-400 text-[12px] font-light leading-[22px] hover:underline">
      #{{ tag }}
    </p>
    }
  </div>
</div>
