<div class="flex justify-between items-center bg-dark-500 h-[64px] px-1 lg:px-base">
  <div class="flex basis-2/3 cursor-pointer">
    <img routerLink="my-page" src="images/logo.png" height="64px" width="144px" alt="logo" />
  </div>

  <div class="flex flex-row gap-4 font-light gap-6">
    <div routerLink="my-record" class="flex items-center gap-2 hover:opacity-50 cursor-pointer">
      <img src="icons/ic-memo.svg" height="32px" width="32px" alt="icon-memo" />
      <p class="text-light text-base leading-[23px] hidden lg:block">自分の記録</p>
    </div>

    <div class="flex items-center gap-2 hover:opacity-50 cursor-pointer">
      <img
        src="icons/ic-challenge.svg"
        height="32px"
        width="32px"
        alt="icon-challenge"
      />
      <p class="text-light text-base leading-[23px] hidden lg:block">チャレンジ</p>
    </div>

    <div class="flex items-center gap-2 hover:opacity-50 cursor-pointer">
      <img src="icons/ic-info.svg" height="32px" width="32px" alt="icon-info" />
      <p class="text-light text-base leading-[23px] hidden lg:block">お知らせ</p>
    </div>

    <div class="flex items-center gap-2 hover:opacity-50 cursor-pointer">
      <img src="icons/ic-menu.svg" height="32px" width="32px" alt="icon-info" />
    </div>
  </div>
</div>
