<div
  class="bullet-item flex justify-between border-b border-[#777777] border-solid pb-2"
>
  <div>
    <span
      class="text-light text-[15px] font-light leading-[22px] tracking-[0.08px]"
    >
      {{ title() }} </span
    ><br />
    <span
      class="text-primary-300 text-[15px] font-normal leading-[18px] tracking-[0.08px]"
    >
      {{ kcal() }}
    </span>
  </div>
  <p
    class="text-primary-300 text-[18px] font-normal leading-[22px] tracking-[0.09px] float-right"
  >
    {{ time() }}
  </p>
</div>
